<h1>Complete Details</h1>
<style>
  table {
    width: 60%;
  }
  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr:nth-child(1) {
    background-color: rgb(163, 163, 163);
    color: rgb(0, 0, 0);
  }
  td,
  th {
    text-align: left;
    height: 30px;
    padding: 10px;
  }
</style>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>DepartmentId</th>
     
    </tr>
    <tr>
      <td>{{ detailsofEmp?.id }}</td>
      <td>{{ detailsofEmp?.firstName }}</td>
      <td>{{ detailsofEmp?.lastName }}</td>
      <td>{{ detailsofEmp?.eMail }}</td>
      <td>{{ detailsofEmp?.phone }}</td>
      <td>{{ detailsofEmp?.departmentId }}</td>
      
    </tr>
  </table>
</body>

<button (click)="goBack()">Go Back</button>
