<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>

<div class="master">
  <h1>OYO</h1>
  <h2>Hotels and homes across 800 cities, 24+ Countries</h2>

  <h3>Create an account to be an OYO manager for your Hotel</h3>

  <form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
    <label>Name: </label>
    <div
      class="validation"
      *ngIf="!name?.valid && (name?.dirty || name?.touched)"
    >
      <div class="validation" [hidden]="!name?.errors?.required">
        Name is required
      </div>
    </div>
    <input formControlName="name" />
    <label>Email: </label>
    <div
      class="validation"
      *ngIf="!email?.valid && (email?.dirty || email?.touched)"
    >
      <div class="validation" [hidden]="!email?.errors?.required">
        Email is required
      </div>
      <div class="validation" [hidden]="!email?.errors?.email">
        Invalid Email Id
      </div>
    </div>
    <input formControlName="email" />
    <label>Phone: </label>
    <div
      class="validation"
      *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)"
    >
      <div class="validation" [hidden]="!phone?.errors?.required">
        Phone number is required
      </div>
      <div class="validation" [hidden]="!phone?.errors?.pattern">
        Enter Valid phone Number
      </div>
    </div>
    <input formControlName="phone" />
    <label>Username: </label>
    <div
      class="validation"
      *ngIf="!userName?.valid && (userName?.dirty || userName?.touched)"
    >
      <div class="validation" [hidden]="!userName?.errors?.required">
        Username is required
      </div>
    </div>
    <input formControlName="userName" />
    <label>Password: </label>
    <div
      class="validation"
      *ngIf="!password?.valid && (password?.dirty || password?.touched)"
    >
      <div class="validation" [hidden]="!password?.errors?.required">
        Password is required
      </div>
      <div class="validation" [hidden]="!password?.errors?.minlength">
        Enter Valid passwaord
      </div>
    </div>
    <input formControlName="password" />
    <label>Hotel Name: </label>
    <div
      class="validation"
      *ngIf="!hotelName?.valid && (hotelName?.dirty || hotelName?.touched)"
    >
      <div class="validation" [hidden]="!hotelName?.errors?.required">
        Hotel Name is required
      </div>
    </div>
    <input formControlName="hotelName" />
    <label>Location: </label>
    <select (change)="changeCity($event)" formControlname="locationName">
      <option value="none" selected disabled hidden>Select Location</option>
      <option value="7">Kochi</option>
      <option value="8">Trivandrum</option>
      <option value="9">Kollam</option>
      <option value="10">Allapuzha</option>
      <option value="11">Palakkad</option>
    </select>
    <button [disabled]="!managerForm.valid" type="submit">Submit</button>
  </form>
</div>

<div class="managerButton">
  <button (click)="back()">Back</button>
</div>
