<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div class="master">
    <h1>OYO</h1>
    <h2>Hotels and homes across 800 cities, 24+ Countries</h2>

    <h3>Create an account to be an OYO manager for your Hotel</h3>

    <form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
        <label>Name: </label>
        <input formControlName="name" />
        <label>Email: </label>
        <input formControlName="email" />
        <label>Phone: </label>
        <input formControlName="phone" />
        <label>Username: </label>
        <input formControlName="userName" />
        <label>Password: </label>
        <input formControlName="password" />
        <label>Hotel Name: </label>
        <input formControlName="hotelName" />
        <label>Location: </label>
       <select (change)="changeCity($event)" formControlname="locationName">
        <option value="none" selected disabled hidden>Select Location</option>
        <option value="1">Kochi</option>
        <option value="2">Trivandrum</option>
        <option value="3">Kollam</option>
        <option value="4">Allapuzha</option>
        <option value="5">Palakkad</option>
       </select>
        <button type="submit">Submit</button>
    </form>

</div>

<div class="managerButton">
    <button (click)="back()">Back</button>
</div>