<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<div class="outer">
<div class="master">
    <h1>OYO</h1>
    <h3>Hotels and homes across 800 cities, 24+ Countries</h3>

    <h2>Login/SignUp</h2>

    <form [formGroup]="loginForm"    (ngSubmit)="onSubmit()">
        <label >Username: </label>
        <input formControlName="userName"/>
        <label >Password: </label>
        <input formControlName="passWord" type="password"/>
        <button type="submit">Submit</button>
        <label  *ngIf="!loginFlag">Incorrect Username or Password</label>
    </form>
    <button (click)="goToNewAccount()">New Account</button>
 
    
</div>
</div>
