<!DOCTYPE html>
<html>
  <style>
    table {
      width: 60%;
    }
    table,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
    }
    tr:nth-child(1) {
      background-color: rgb(163, 163, 163);
      color: rgb(0, 0, 0);
    }
    td,
    th {
      text-align: left;
      height: 30px;
      padding: 10px;
    }
    .mytable {
      padding-bottom: 40px;
    }
  </style>
  <body>
    <h1>First Angular App</h1>
    <div class="mytable">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Age</th>
          <th>Joining Date</th>
          <th>Country</th>
          

        </tr>
        <tr>
          <td>Ruby</td>
          <td>Susan</td>
          <td>23/3/2001</td>
          <td>22</td>
          <td>03/6/2023</td>
          <td>India</td>
        </tr>
        <tr>
          <td>Christina</td>
          <td>Mariam</td>
          <td>15/9/2001</td>
          <td>23</td>
          <td>03/6/2023</td>
          <td>Italy</td>
        </tr>
        <tr>
          <td>Nanu</td>
          <td>Unni</td>
          <td>29/12/2000</td>
          <td>22</td>
          <td>05/7/2023</td>
          <td>Egypt</td>
        </tr>
        <tr>
          <td>Aisha</td>
          <td>Blah</td>
          <td>19/11/2000</td>
          <td>20</td>
          <td>05/7/2023</td>
          <td>Nigeria</td>
        </tr>
        <tr>
          <td>Shiva</td>
          <td>Ettan</td>
          <td>30/09/2000</td>
          <td>24</td>
          <td>05/5/2023</td>
          <td>Canada</td>
        </tr>
       
      </table>
    </div>
  </body>
</html>
