<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<div class="master">
    <h1>Confirm Booking</h1>
    <form [formGroup]="addBooking">
        <label>Checked-in</label>
        <input type="date" formControlName="Start">
        <label>Checked-out</label>
        <input type="date" formControlName="End">
        <button (click)="onSubmit()">Confirm</button>
    </form>
</div>