<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<div class="master">
    <h1>Confirm Booking</h1>
    <p>hotel Name: {{HotelId.name}}</p>
    <p>Number of Rooms Booked: {{bookingDetails.noOfRooms}}</p>
    <p>Start Date: {{bookingDetails.StartDate}}</p>
    <p>Start Date: {{bookingDetails.EndDate}}</p>
    <button (click)="onSubmit()">Confirm</button>
</div>

<button (click)="home()">Home</button>