<style>
  table {
    width: 60%;
  
  }
  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr:nth-child(1) {
    background-color: rgb(163, 163, 163);
    color: rgb(0, 0, 0);
  }
  td,
  th {
    text-align: left;
    height: 30px;
    padding: 10px;
  }
input {
margin-top: 20px;
padding: 0.5%;
}
.heading{
  margin-top: 100px;
}

  
</style>
<body>
  <h1>Employee Names</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr *ngFor="let i of emp">
      <td>{{i.id}}</td>
      <td>
        <button (click)="changeDisplay(i)">{{ i.firstName }}</button>
      </td>
      <td>{{ i.lastName }}</td>
    </tr>
  </table>
  <br>
  <br>
  <button (click)="addNewEmployeePage()">Add new Employee</button>
  <br>
  <br>
  <button (click)="employeeSearch()">Search Employee</button>
  
</body>
