<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<div class="outer">
<div class="logout">
    <button  (click)="LogOut()">Log Out</button>
</div>

<div class="master">
    <h1>OYO</h1>
    <h3>Hotels and homes across 800 cities, 24+ Countries</h3>
    <h3>Hello {{userdata.name}}</h3>


    <form [formGroup]="HotelForm"    (ngSubmit)="onSubmit()">
        <label >Location: </label>
        <select (change)="changeCity($event)" formControlname="locationId">
            <option value="none" selected disabled hidden>Select Location</option>
            <option value="7">Kochi</option>
            <option value="8">Trivandrum</option>
            <option value="9">Kollam</option>
            <option value="10">Allapuzha</option>
            <option value="11">Palakkad</option>
           </select>
        <label >Start Date: </label>
        <input  type="date"  formControlName="startDate"/>
        <label >End Date: </label>
        <input  type="date"  formControlName="endDate"/>
        <label >No: of Rooms </label>
        <input type="number"  formControlName="noOfRooms"/>
        <label >Min. Rating</label>
        <input type="number"  formControlName="rating"/>
        <button type="submit">Search</button>
    </form>
    
    <!-- <tr *ngFor ="let i of room">
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.location }}</td>
        <td>{{ i.rating }}</td>
        <td>{{ i.roomId }}</td>
    </tr> -->
    

</div>
<button (click)="previousBooking()">View Previous Bookings</button>

</div>




